// @import 'extends';
// @import 'mixins';






body {
font: sans-serif;
color: white;
background: #ccc;
margin: auto;
}

ul li.editMode input[type=text]{
  display: block;
}

ul li.editMode label {
  display: none;
}


.inputTask{
 display:none;}

.whole {
padding: 20px;
width: 700px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;
display: center;
}


// .columns {
//   display: inline-block;
//   border-style: solid;
//   border-color: white;
//   text-decoration: white;
//   text-align: center;
//   display: center;
//   width: 40%;
//   margin-left: 60px;
//   margin-top: 30px;
//   padding-bottom: 300px;
//   list-style-type: none;
// }

// .todo {
//   display: inline-block;
//   border-style: solid;
//   text-align: center;
//   // width: 40%;

//   // margin: 10px;
//   // margin-left: 100px;
// }

// .out {
//   display: inline-block center;
//   text-align: center;

// }