body {
  font: sans-serif;
  color: white;
  background: #ccc;
  margin: auto; }

ul li.editMode input[type=text] {
  display: block; }

ul li.editMode label {
  display: none; }

.inputTask {
  display: none; }

.whole {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
  display: center; }
